/* HOME PAGE */

.singleplayer-button,
.multiplayer-button,
.rules-button {
    border: 0.1vw solid black;
    border-radius: 3.5rem;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: 1.2vw;
    font-size: 4vw;
    width: 25vw;
    height: 2.7vw;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
}

.title {
    font-size: 6vw;
}

.index-header {
    margin-top: 0.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
}

.index-header-row {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.circle-1 {
    width: 6vw;
    height: 6vw;
    border-radius: 3.5vw;
    background-color: #ee5151;
    margin-right: 2vw;
    margin-left: 2vw;
    border: 0.15vw black solid;
}

.circle-2 {
    width: 6vw;
    height: 6vw;
    border-radius: 3.5vw;
    background-color: #5187EE;
    margin-right: 2vw;
    margin-left: 2vw;
    border: 0.15vw solid black;
}

.home-body {
    display: flex;
    justify-content: space-around;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    padding-top: 0.5vw;
}

/* RULES */

.rules-title {
    font-size: 2.5vw;
}

.rules {
    margin-top: 3vw;
    margin-bottom: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.rules>p {
    padding-left: 2vw;
}

.rules>h2 {
    padding-left: 2vw;
}

/* Misc. */

.header {
    display: flex;
    justify-content: center;
}

.board-header {
    display: flex;
    flex-direction: column;
}

.cart-logo {
    width: 7.5vw;
    height: 7.5vw;
    border: 0.02vw solid black;
    background-color: rgba(255, 255, 255, 0.4);
}

body {
    margin: 0;
    font-size: 1vw;
    line-height: 220%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link1,
.nav-link2 {
    font-size: 2vw;
    border: 0.1vw solid black;
    border-radius: 3.5rem;
    padding: 1vw;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
}

.circle-1-nav {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 3vw;
    background-color: #ee5151;
    margin-right: 2vw;
    margin-left: 2vw;
    border: 0.15vw black solid;
}

.circle-2-nav {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 3vw;
    background-color: #5187EE;
    margin-right: 2vw;
    margin-left: 2vw;
    border: 0.15vw solid black;
}

.title-nav {
    font-size: 2vw;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2vw;
    margin-top: 2vw;
}

.home-nav,
.rules-nav {
    border: 0.1vw solid black;
    border-radius: 3.5rem;
    padding: 0.3vw;
    margin-right: 2vw;
    font-size: 2vw;
    width: 6vw;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
}

.background-image {
    background-color: grey;
    background-image: url("/images/diamond-upholstery.png");
}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header,
a,
h1,
h2 {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: white;
    transition: 350ms;
}

hr {
    border: 0.02vw solid black;
}

footer {
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#coin {
    position: relative;
    margin: 0 auto;
    width: 6vw;
    height: 6vw;
    cursor: pointer;
    transform-style: preserve-3d;
}

#coin div {
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    backface-visibility: hidden;
}

#coin {
    transform: rotateY(3.142rad);
}

#coin.heads {
    animation: infinite 3s ease-out forwards;
}

#coin.tails {
    animation: infinite 3s ease-out forwards;
}

#side-a {
    background-color: red;
}

#side-b {
    background-color: #5187EE;
    transform: rotateY(-180deg);
}

/*die*/
.roll-die{
    display: flex;
    flex-wrap: wrap;
}
.roll-die>h2{
    width: 100%;
}


/*cube*/
.item-1,
.item-2 {
    position: absolute;
}

.c3d-p1,
.c3d-p2 {
    width: 50%;
    height: 20vw;
    display: flex;
    justify-content: space-around;
    border-bottom: solid black .15vw;
}

#c3d-1 {
    margin-top: 7vw;
    height: 6vw;
    width: 6vw;
    transform-style: preserve-3d;
    transform: rotateX(90) rotateY(90);
}

.cube-front {
    width: 6vw;
    height: 6vw;
    transform-origin: center;
    transform: translateZ(0);
}

.cube-right {
    width: 6vw;
    height: 6vw;
    transform-origin: right;
    transform: rotateY(-90deg);
}

.cube-left {
    width: 6vw;
    height: 6vw;
    transform-origin: left;
    transform: rotateY(90deg);
}

.cube-back {
    width: 6vw;
    height: 6vw;
    transform-origin: center;
    transform: translateZ(-6.56vw);
}

.cube-top {
    width: 6vw;
    height: 6vw;
    transform-origin: top;
    transform: rotateX(-90deg);
}

.cube-bottom {
    width: 6vw;
    height: 6vw;
    transform-origin: bottom;
    transform: rotateX(90deg);
}

.dot {
    background-color: #676767;
    border-radius: 50%;
    box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
    height: 1vw;
    width: 1vw;
    position: absolute;
  }
  


.cube-back,
.cube-bottom,
.cube-front,
.cube-left,
.cube-right,
.cube-top{
    display: flex;
    flex-wrap: wrap;
    border: .3vw inset rgba(0, 0, 0, 0.75);
    background-color: rgb(255, 255, 255);
}

/*1*/
.cube-front .dot:nth-child(1){
    margin-top: 2.5vw;
    margin-left: 2.5vw;
}
/*2*/
.cube-top .dot:nth-child(1){
    margin-top: 1vw;
    margin-left: 1vw;
}
.cube-top .dot:nth-child(2){
    margin-top: 4vw;
    margin-left: 4vw;
}
/*3*/
.cube-right .dot:nth-child(1){
    margin-top: 1vw;
    margin-left: 1vw;
}
.cube-right .dot:nth-child(2){
    margin-top: 2.5vw;
    margin-left: 2.5vw;
}
.cube-right .dot:nth-child(3){
    margin-top: 4vw;
    margin-left: 4vw;
}
/*4*/
.cube-bottom .dot:nth-child(1){
    margin-top: 1vw;
    margin-left: 1vw;
}
.cube-bottom .dot:nth-child(2){
    margin-top: 4vw;
    margin-left: 1vw;
}
.cube-bottom .dot:nth-child(3){
    margin-top: 4vw;
    margin-left: 4vw;
}
.cube-bottom .dot:nth-child(4){
    margin-top: 1vw;
    margin-left: 4vw;
}

/*5*/
.cube-left .dot:nth-child(1){
    margin-top: 1vw;
    margin-left: 1vw;
}
.cube-left .dot:nth-child(2){
    margin-top: 4vw;
    margin-left: 1vw;
}
.cube-left .dot:nth-child(3){
    margin-top: 2.5vw;
    margin-left: 2.5vw;
}
.cube-left .dot:nth-child(4){
    margin-top: 4vw;
    margin-left: 4vw;
}
.cube-left .dot:nth-child(5){
    margin-top: 1vw;
    margin-left: 4vw;
}
/*6*/
.cube-back .dot:nth-child(1){
    margin-top: 1vw;
    margin-left: 1vw;
}
.cube-back .dot:nth-child(2){
    margin-top: 2.5vw;
    margin-left: 1vw;
}
.cube-back .dot:nth-child(3){
    margin-top: 4vw;
    margin-left: 1vw;
}
.cube-back .dot:nth-child(4){
    margin-top: 1vw;
    margin-left: 4vw;
}
.cube-back .dot:nth-child(5){
    margin-top: 2.5vw;
    margin-left: 4vw;
}
.cube-back .dot:nth-child(6){
    margin-top: 4vw;
    margin-left: 4vw;
}
